---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";
import { useTranslations } from "@/i18n/utils";

const posts = await getCollection("blog_en");
const tags = getUniqueTags(posts);
const t = useTranslations("en");
---

<Layout title={`${t("pages.tags.title")} | ${SITE.title}`}>
  <Header />
  <Main pageTitle={t("pages.tags.title")} pageDesc={t("pages.tags.desc")}>
    <ul>
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
